<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Codium Test</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/todo">To do List</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/easy">Easy</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/medium">Medium</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
