<div class="container">
  <div class="myPara">
      <div class="topic">Hello Everyone!</div>
      <div class="myPara">
        My name is Theerapat Honghirun. You can call me Aomsin. I develop this angular website in order to sent my answer for my test.
      </div>
      <div class="myPara">
        This is my assignment for Codium's interview problem.
        As you can see there are different parts reference by 'best-practices' problem on github.
      </div>
  </div>
  <div class="myPara">Hope I do this correct, or at least enough for what assignment want. Please don't affraid to comment or give feedback to me, those will help me improve
    myself in the future. Thank you for your attention, let's see what I have done on pages above.
  </div>
</div>
