.topic{
  background-color: aliceblue;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  animation: cssAnimation 1s forwards;
  animation-delay: .25s;
  opacity: 0;
}

.topicAnswer{
  margin-top: 2vh;
  background-color: aliceblue;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  font-size: 25px;
  animation: cssAnimation 1s forwards;
  animation-delay: .5s;
  opacity: 0;
}

#status{
  color: #ea4546;
  animation: StringShow 1s forwards;
  animation-delay: .5s;
  opacity: 0;
}

@keyframes cssAnimation{
  0%{
    opacity: 0;
    transform: translateY(0px);
  }
  100%{
    opacity: 1;
    transform: translateY(20px);
  }
}

@keyframes StringShow{
  0%{
    opacity: 0;
    transform: translateX(0px);
  }
  100%{
    opacity: 1;
    transform: translateX(1px);
  }
}
