.container{
  /* background-color: aliceblue; */
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 10px;
  animation: cssAnimation 1s forwards;
  animation-delay: .25s;
  opacity: 0;
}

@keyframes cssAnimation{
  0%{
    opacity: 0;
    transform: translateY(0px);
  }
  100%{
    opacity: 1;
    transform: translateY(20px);
  }
}

.btn.mybtn{
  margin-left: 1vw;
  font-size: large;
  background-color: #24accc;
  color: aliceblue;
  border: 1px solid #EA4546;
}


